img{height:260px;width:260px;opacity:0.9}
img:hover{height:265px;width:265px;opacity:1;border:5px solid #63DFAE }
h1{font-size: 55px;font-family: Broadway;color:#F5E453 ;text-align: center;}
font{font-size: 30px; color:white}
body{background-attachment: fixed}
